.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.about-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  &:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}
.about-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}
.about-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .title {
    text-align: center;
  }
  .about-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .about-list {
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .about-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .about-list-item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .about-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
