.about .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  // flex-wrap: wrap;
  // margin-right: calc(-1 * var(--card-set-gap));
}
.about-list-item {
  // flex-basis: calc(100% / 6 - var(--card-set-gap));
  // &:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.about-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 270px;
  height: 75px;
}
.about-icon {
  width: 70px;
  height: 70px;
}

.about-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}
