.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  box-sizing: border-box;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & {
    fill: var(--icon-color);
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients-list-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients-list-item:hover &,
  .clients-list-item:focus & {
    fill: var(--accent-color);
  }
}
