.teams {
  background-color: var(--tertiary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.teams-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
.teams-persons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.persons-job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
}
.teams-wrapper {
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .teams-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .teams .gallery-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .teams-wrapper {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teams-list {
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 768px) {
  .teams-list {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teams-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .teams-item:not(:last-child) {
    margin-right: 30px;
    padding-bottom: 30px;
  }
  .teams {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
