.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);

    &:hover .social-list-icon,
    &:focus .social-list-icon {
      fill: var(--accent-icon-color);
    }
  }
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 10px;
  }
}
