body {
  font-family: var(--main-font);
  background-color: var(--primary-background-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}
